<div class="container-fluid page">
    <div class="page__box p-3 mt-2">
      <h1 class="text-dark">Pending</h1>
    </div>
    <div class="page__content shadow p-3 position-relative">
      <div class="d-flex justify-content-around p-5  text-center">
        <div class="card shadow" style="width: 16rem;">
          <div class="card-body d-flex p-5">
            <img
              src="./../../assets/icons/bar-chart.png"
              class="rounded-pill img-thumbnail border-0"
              style="width:60px"
            />
            <h5 class="card-title pt-3 pr-2">Card title</h5>
          </div>
        </div>
        <div class="card shadow" style="width: 16rem;">
          <div class="card-body  d-flex p-5">
            <img
              src="./../../assets/icons/email.png"
              class="rounded-pill img-thumbnail border-0"
              style="width:60px"
            />
            <h5 class="card-title pt-3 pr-2">Card title</h5>
          </div>
        </div>
        <div class="card shadow" style="width: 16rem;">
          <div class="card-body  d-flex p-5">
            <img
              src="./../../assets/icons/cancel.png"
              class="rounded-pill img-thumbnail border-0"
              style="width:60px"
            />
            <h5 class="card-title pt-3 pr-2">Card title</h5>
          </div>
        </div>
      </div>
      <div class="row" style="font-size:medium;">
        <div class="card col-sm-8">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title ">
                <b>Applied Loans </b>
              </h5>
              <img
                src="./../../assets/icons/edit.png"
                class=" img-thumbnail border-0"
                style="width:50px"
              />
            </div>
            <table class="table table-hover text-center">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Date Applied</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>2014/05/13</td>
                  <td><p class="rounded-pill bg-info">Done</p></td>
                  <td>
                    <button class="border-0 bg-white">
                      <img
                        src="./../../assets/icons/more.png"
                        class="rounded-pill img-thumbnail border-0"
                        style="width:45px"
                      />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>2014/05/13</td>
                  <td><p class="rounded-pill bg-warning">Pending</p></td>
                  <td>
                    <button class="border-0  bg-white">
                      <img
                        src="./../../assets/icons/more.png"
                        class="rounded-pill img-thumbnail border-0"
                        style="width:45px"
                      />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>@twitter</td>
                  <td>@mdo</td>
                  <td>2014/05/13</td>
                  <td><p class="rounded-pill bg-primary">Ongoing</p></td>
                  <td>
                    <button class="border-0  bg-white">
                      <img
                        src="./../../assets/icons/more.png"
                        class="rounded-pill img-thumbnail border-0"
                        style="width:45px"
                      />
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-4">
          <div>
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  pkf[pasf[pas][faspf]]
                </div>
              </div>
            </div>
          </div>
          <div class="pt-5">
            <div class="card ">
              <div class="card-body">
                <div class="card-title">
                  dasfaesgrhahqgshstjtrhjuryj
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- <div class="page__content-data position-absolute text-center">
              Welcome to Home
            </div> -->
      <div class="m-40">
        <nav aria-label="Page navigation example" class="pt-5 mx-auto">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  