:host 
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer
{
    width: 260px;
    background: #2121d6; //sidenav-background-color
}
mat-drawer-container 
{
    height: 100%;
}
