

<section>
    <div class="imgBx">
        <img src="{{logoImg}}" class="align-center">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Login</h2>
            <form>
                <div class="inputBx">
                    <span>Email</span>
                    <input type="email" name="email" placeholder="@gmail.com">
                </div>
                
                <div class="inputBx">
                    <span>Password</span>
                    <input type="password" password="">
                </div>
                <div class="remember">
                    <label><input type="checkbox" name="checkbox"> Remember me</label>
                </div>
                <div class="inputBx">
                    <input class="btn btn-outline-primary" type="submit" value="sign in" name="">
                    </div>
            </form>
        </div>
    </div>

</section>

<!-- <mat-menu #appMenu="matMenu">
    <button mat-meu-item>Frotn end</button>
    <button mat-meu-item>back end</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button> -->
