<mat-nav-list>
        <div class="logo py-4">
          <img src="{{logoImg}}" alt="" />
        </div>
        <mat-divider></mat-divider>
        <h2 matSubheader class="mt-2">MONICARL</h2>
      
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
          <mat-icon>home</mat-icon> Home
          <span class="badge">100</span>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon> Request
          <span class="badge">64</span>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/pending">
          <mat-icon>verified_user</mat-icon> Users
          <span class="badge">12</span>
        </a>
      </mat-nav-list>
      